*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
}

.wrapper {
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #eee;
}

@media (max-width: 1323px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}


.loading {
    position: fixed;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #eee;
}

sup {
    font-size: 12px;
}